.App-Container{
  max-width: 500px;
  background-color: rgb(11, 115, 115);
  padding: 40px;
  margin: 40px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0,.1);
}
h1{
  text-align: center;
  margin-bottom: 20px;
}
.Expense-form{

 display: flex;
		  gap: 10px;
		  margin-bottom: 20px;
}
.Expense-form input{
   flex: 1;
   padding: 8px;
   border-radius: 8px;
   border: none;
}
.Expense-form button{
  padding: 8px 12px ;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
h3{
  text-align: center;
  margin-bottom: 20px;
}
.Expense-list {
		  display: flex;
		  flex-direction: column;
		  gap: 10px;
		}

		.Expense-item {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  background: white;
		  padding: 10px;
		  border-radius: 8px;
		}

		